/config.php
/.env
/.env.*
!/config-example.php
/storage/installed.lock
/storage/demo/*.json
/storage/demo/*.lock
/storage/imports/**
!/storage/imports/.htaccess
!/storage/imports/index.php
!/storage/imports/README.md
/storage/logs/*
/storage/cache/*
*.log
.DS_Store
Thumbs.db
/vendor/
/node_modules/
